<meta charset="utf-8">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

@* Modify this lines *@
<meta name="description" content="RegistrationMVC">
<meta name="author" content="Alfonso9">

@* Modify this line *@
@*<link rel="icon" href="../../favicon.ico">*@

<title>@ViewBag.Title</title>